<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <title>MOJJI</title>
  <meta name="description" content="옷장 속의 의상들로 쉽고 스타일리시한 코디를 제안해주는 AI 패션 어플" />
  <meta name="keywords" content="옷, 패션, 코디, 코디추천, AI, 어플" />
  <meta name="author" content="Kyungrin" />

  <!-- 일반적인 fabicon 설정 -->
  <link rel="icon" href="https://mojji-bucket.s3.ap-northeast-2.amazonaws.com/main/static/img/commond_icon/free-icon-fashion-6122943.png"/>
  <!-- 아이폰용 fabicon 설정 -->
  <link rel="apple-touch-icon" href="https://mojji-bucket.s3.ap-northeast-2.amazonaws.com/main/static/img/commond_icon/free-icon-fashion-6122943.png"/>
  <!-- 인터넷 익스플러오용 fabicon 설정-->
  <link rel="short icon" type="image/x-icon" href="https://mojji-bucket.s3.ap-northeast-2.amazonaws.com/main/static/img/commond_icon/free-icon-fashion-6122943.png" />

  <!-- CSS Reset(1), 아이콘 폰트, 웹페이지 사용폰트, style.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <!-- https://fontawesome.com/start -->
  <script src="https://kit.fontawesome.com/5816102a91.js" crossorigin="anonymous"></script>
  <!-- Spoca Han Sans Neo: https://spoqa.github.io/spoqa-han-sans/ko-KR/ -->
  <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('mymojji.static', filename='css/style_commond.css') }}">
  <link rel="stylesheet" href="{{ url_for('mymojji.static', filename='css/style_modify.css') }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
{% extends "navbar.html"%}

{% block content %}
  <section>
    <div class="inner">
      <div class="register_container">
        <div class="register_title">
          <h2>MODIFY</h2>
          <ul>
            <li>저희 MOJJI를 이용해 주셔서 감사합니다.</li>
          </ul>
        </div>
      </div>
      <form id="modityForm" action="/mymojji/update" method="post" onsubmit="return checkForm(event)">
        <div class="register_base_table">
          <table>
            <colgroup>
              <col style="width:200px;">
              <col style="width:auto;">
            </colgroup>
            <tbody>
              <tr>
                <th>아이디</th>
                <td>
                  <input id="member_id" name="member_id" class="inputTypeText" type="text" readonly="readonly" value="{{ member_id }}"> (영문소문자/숫자, 4~16자)
                </td>
              </tr>
              <tr>
                <th>비밀번호</th>
                <td>
                  <div class="eTooltip">
                    <input id="passwd" name="passwd" required autocomplete="off" maxlength="16" type="password" aria-autocomplete="list">
                    (영문 대소문자/숫자/특수문자 조합, 8자~16자)
                    <div class="ec-base-tooltip typeUpper">
                      <div class="content">
                        <strong class="txtWarn">※ 비밀번호 입력 조건</strong>
                        <ul class="ec-base-help typeDash gBlank10 txtWarn">
                          - 대소문자/숫자/특수문자 조합, 8자~16자<br>
                          - 입력 가능 특수문자<br>
                          &nbsp;&nbsp;&nbsp;  ~ ` ! @ # $ % ^ ( ) * _ - = { } [ ] | ; : &lt; &gt; , . ? /<br>
                          - 공백 입력 불가능<br>
                          - 연속된 문자, 숫자 사용 불가능<br>
                          - 동일한 문자, 숫자를 반복해서 사용 불가능<br>
                          - 아이디 포함 불가능
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>비밀번호 확인</th>
                <td>
                  <input id="user_passwd_confirm" name="user_passwd_confirm" required autocomplete="off" maxlength="16" type="password">
                  <span id="pwConfirmMsg" class=""></span>
                </td>
              </tr>
              <tr>
                <th>비밀번호 확인 질문</th>
                <td>
                  <select id="hint" name="hint" required>
                    <option value="hint_01">기억에 남는 추억의 장소는?</option>
                    <option value="hint_02">자신의 인생 좌우명은?</option>
                    <option value="hint_03">자신의 보물 제1호는?</option>
                    <option value="hint_04">가장 기억에 남는 선생님 성함은?</option>
                    <option value="hint_05">타인이 모르는 자신만의 신체비밀이 있다면?</option>
                    <option value="hint_06">추억하고 싶은 날짜가 있다면?</option>
                    <option value="hint_07">받았던 선물 중 기억에 남는 독특한 선물은?</option>
                    <option value="hint_08">유년시절 가장 생각나는 친구 이름은?</option>
                    <option value="hint_09">인상 깊게 읽은 책 이름은?</option>
                    <option value="hint_10">읽은 책 중에서 좋아하는 구절이 있다면?</option>
                    <option value="hint_11">자신이 두번째로 존경하는 인물은?</option>
                    <option value="hint_12">친구들에게 공개하지 않은 어릴 적 별명이 있다면?</option>
                    <option value="hint_13">초등학교 때 기억에 남는 짝꿍 이름은?</option>
                    <option value="hint_14">다시 태어나면 되고 싶은 것은?</option>
                    <option value="hint_15">내가 좋아하는 캐릭터는?</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>비밀번호 확인 답변</th>
                <td>
                  <input id="hint_answer" name="hint_answer" required class="inputTypeText" type="text" pattern="^[가-힣]+$" title="한글만 입력 가능합니다." value="{{ user.hint_answer }}">
                </td>
              </tr>
              <tr>
                <th scope="row" id="nameTitle">이름</th>
                <td>
                  <input id="nameContents" name="nameContents" type="text" class="inputTypeText" readonly="readonly" value="{{ user.name }}">
                </td>
              </tr>
              <tr>
                <th>주소</th>
                <td>
                  <input type="text" id="postcode1" name="postcode1" class="inputTypeText" readonly="readonly" placeholder="우편번호" value="{{ user.postcode1 }}">
                  <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="btnNormal" id="postBtn"><br>
                  <input id="addr1" name="addr1" type="text" placeholder="주소" class="inputTypeText" readonly="readonly" value="{{ user.addr1 }}"><br>
                  <input type="text" id="addr2" name="addr2" class="inputTypeText" placeholder="상세주소" value="{{ user.addr2 }}">
                  <input type="text" id="extraAddress" name="extraAddress" readonly="readonly" class="inputTypeText" placeholder="참고항목" value="{{ user.extraAddress }}">
                </td>
              </tr>
              <tr>
                <th>휴대전화</th>
                <td>
                  <select id="mobile1" name="mobile[]">
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="017">017</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                  </select>
                  <input id="mobile2" name="mobile[]" maxlength="4" required type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '')" value="{{ user.mobile[3:7] }}">-
                  <input id="mobile3" name="mobile[]" maxlength="4" required type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '')" value="{{ user.mobile[7:] }}">
                </td>
              </tr>
              <tr>
                <th>이메일</th>
                <td>
                  <input id="email1" name="email1" required type="text" placeholder="hello@mojji.com" value="{{ user.email }}">
                  <span id="emailMsg"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modify-button">
          <button type="submit" class="btnSubmitFix">회원정보수정</button>
          <button type="button" class="btnEmFix" onclick="window.location.href='/'">취소</button>
          <span class="gRight">
            <button type="button" class="btndelete">회원탈퇴</button>
          </span>
        </div>
      </form>
    </div>
  </section>
  <script>
    function initializeForm() {
      // 비밀번호 input 요소
      var passwdInput = document.getElementById('passwd');

      // 툴팁 요소
      var tooltip = document.querySelector('.ec-base-tooltip.typeUpper');

      // 비밀번호 input을 클릭할 때 툴팁을 표시
      passwdInput.addEventListener('focus', function(event) {
        tooltip.style.display = 'block';
        event.stopPropagation(); // 클릭 이벤트 전파 방지
      });

      // 비밀번호 input에서 포커스가 벗어날 때 툴팁을 숨김
      passwdInput.addEventListener('blur', function(event) {
        tooltip.style.display = 'none';
      });

      // 비밀번호 확인 질문 초기화
      var userHint = "{{ user.hint }}";  // 템플릿에서 user.hint 값을 가져옴
      var hintSelect = document.getElementById('hint');  // select 요소를 찾음
      for (var i = 0; i < hintSelect.options.length; i++) {
        if (hintSelect.options[i].value === userHint) {
          hintSelect.options[i].selected = true;  // 값이 일치하는 옵션을 선택함
          break;
        }
      }

      // 모바일 번호 초기화
      var userMobilePrefix = "{{ user.mobile[:3] }}";  // 템플릿에서 user.mobile의 앞 3자리를 가져옴
      var mobileSelect = document.getElementById('mobile1');  // select 요소를 찾음
      for (var i = 0; i < mobileSelect.options.length; i++) {
        if (mobileSelect.options[i].value === userMobilePrefix) {
          mobileSelect.options[i].selected = true;  // 값이 일치하는 옵션을 선택함
          break;
        }
      }
    }

    window.onload = function() {
      initializeForm();
    };

    async function checkForm(event) {
      event.preventDefault(); // 폼 제출 기본 동작 중지
    
      const email = document.getElementById('email1').value;
      const emailMsg = document.getElementById("emailMsg");
      const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    
      if (!emailPattern.test(email)) {
        if (emailMsg) {
          emailMsg.textContent = '이메일 형식이 잘못되었습니다. 예: hello@mojji.com';
          emailMsg.style.color = 'red';
        }
        document.getElementById('email1').focus();
        alert('이메일 형식이 잘못되었습니다.');
        return false; // 폼 제출 중지
      } else {
        if (emailMsg) {
          emailMsg.textContent = '';
        }
      }
    
      const password = document.getElementById('passwd').value;
      const confirmPassword = document.getElementById('user_passwd_confirm').value;
    
      const postcode = document.getElementById('postcode1').value;
      if (!postcode) {
        alert('주소를 입력해주세요.');
        document.getElementById('postcode1').focus();
        return false;
      }
    
      const mobile = document.getElementById('mobile1').value + document.getElementById('mobile2').value + document.getElementById('mobile3').value;
      const ID = document.querySelector('input[name="member_id"]').value
      const user_name = document.querySelector('input[name="nameContents"]').value
    
      if (mobile.length !== 11) {
        alert('핸드폰 번호가 올바르지 않습니다.');
        return false;
      }
    
      try {
        const response = await fetch(`/auth/check-pw?passwd=${password}`);
        const data = await response.json();
    
        if (!data.valid) {
          alert('비밀번호 입력 조건이 충족하지 않습니다.');
          document.getElementById('passwd').focus();
          document.getElementById('passwd').value = '';
          document.getElementById('user_passwd_confirm').value = '';
          return false; // 폼 제출 중지
        }
    
        const updateResponse = await fetch(`/mymojji/update?member_id=${ID}&mobile=${mobile}&email=${email}&user_name=${user_name}&password=${password}&confirmPassword=${confirmPassword}`);
        const updateData = await updateResponse.json();
        
        if (updateData.success === 'mobileFalse') {
            alert('이미 사용 중인 휴대전화 번호입니다.');
            return false;
        } else if (updateData.success === 'emailFalse') {
            alert('이미 사용 중인 이메일입니다.');
            return false;
        } else if (updateData.success) {
          alert('회원정보가 성공적으로 수정되었습니다.');
          document.getElementById('modityForm').submit(); // 폼을 수동으로 제출함
          return true;
        } else {
          alert('회원정보 수정이 실패하였습니다.');
          return false;
        }
      } catch (error) {
        console.error('Error:', error);
        alert('서버와의 통신 중 오류가 발생했습니다.');
        return false; // 폼 제출 중지
      }
    }

    async function deleteAccount() {
      const member_id = document.querySelector('input[name="member_id"]').value;
    
      if (confirm('회원탈퇴를 진행하시겠습니까?')) {
        try {
          const response = await fetch('/auth/delete', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
              'member_id': member_id
            })
          });
    
          const result = await response.json();
    
          if (result.success) {
            alert('회원탈퇴가 성공적으로 처리되었습니다.');
            window.location.href = '/';
          } else {
            alert('회원탈퇴 처리에 실패하였습니다.');
          }
        } catch (error) {
          console.error('Error:', error);
          alert('서버와의 통신 중 오류가 발생했습니다.');
        }
      } else {
        // 취소 버튼을 누르면 아무 작업도 하지 않습니다.
        alert('회원탈퇴가 취소되었습니다.');
      }
    }
    
    document.querySelector('.btndelete').addEventListener('click', deleteAccount);
  </script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
      function sample6_execDaumPostcode() {
          new daum.Postcode({
              oncomplete: function(data) {
                  // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
  
                  // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                  // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                  var addr = ''; // 주소 변수
                  var extraAddr = ''; // 참고항목 변수
  
                  //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                  if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                      addr = data.roadAddress;
                  } else { // 사용자가 지번 주소를 선택했을 경우(J)
                      addr = data.jibunAddress;
                  }
  
                  // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                  if(data.userSelectedType === 'R'){
                      // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                      // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                      if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                          extraAddr += data.bname;
                      }
                      // 건물명이 있고, 공동주택일 경우 추가한다.
                      if(data.buildingName !== '' && data.apartment === 'Y'){
                          extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                      }
                      // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                      if(extraAddr !== ''){
                          extraAddr = ' (' + extraAddr + ')';
                      }
                      // 조합된 참고항목을 해당 필드에 넣는다.
                      document.getElementById("extraAddress").value = extraAddr;
                  
                  } else {
                      document.getElementById("extraAddress").value = '';
                  }
  
                  // 우편번호와 주소 정보를 해당 필드에 넣는다.
                  document.getElementById('postcode1').value = data.zonecode;
                  document.getElementById("addr1").value = addr;
                  // 커서를 상세주소 필드로 이동한다.
                  document.getElementById("addr2").focus();
              }
          }).open();
      }
  </script>
{% endblock %}
</body>
</html>