.findid-container {
  margin: 200px 0 120px;
  text-align: center;
}

.findid-title {
  min-height: 30px;
  margin: 15px 0;
  text-align: center;
}

.findid-title h2 {
  display: block;
  color: #333;
  font-size: 20px;
  text-align: center;
  letter-spacing: .13em;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
  margin: 20px 0 0;
}

.findid-boxtitle {
  max-width: 500px;
  margin: 80px auto;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.findid-boxtitle h3 {
  margin: 0 0 40px;
  font-size: 17px;
  text-align: center;
}

.btnNormal {
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 8px;
  margin-left: 10px;
  border: 1px solid #999;
  border-radius: 7px;
  font-size: 11px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  word-spacing: -0.5px;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
  color: #333;
  background: #fff;
}

input[type=radio], input[type=checkbox] {
  width: 13px;
  height: 13px;
  border: 0;
}

input {
  font-size: 90%;
  color: #333;
  border-radius: 7px;
  vertical-align: middle;
  background: #fff;
}

input[type=radio] + label, input[type=checkbox] + label {
  margin: 0 4px 0 2px;
}

.lostInput {
  border: 1px solid #999;
  border-radius: 8px;
  font-size: 15px;
  width: 226px;
  height: 30px;
  line-height: 28px;
}

.txtInfo {
  margin: 10px 0 0;
  line-height: 18px;
  color: #707070;
  padding-left: 10%;
  font-size: 14px;
}

.ec-base-button {
  display: flex;
  padding: 60px 0 10px;
  justify-content: center;
}

.btnSubmit-result {
  font-size: 13px;
  display: inline-block;
  width: 200px;
  text-decoration: none;
  border: 1px solid #333;
  background: #fff;
  border-radius: 7px;
  padding: 13px 20px;
  color: #333;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0 2px;
  cursor: pointer;
}

.ec-base-desc {
  overflow: hidden;
  text-align: left;
  padding: 0 30px;
}

.term {
  width: 35%;
  float: left;
  margin: 0 0 2px 30px;
  padding: 0 4px 0 0;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  -moz-webkit-box: border-box;
  box-sizing: border-box;
  font-weight: normal;
}

.ec-base-desc .desc {
  display: block;
  margin: 0 0 2px;
  padding: 0 5px 0 100px;
  min-height: 22px;
  line-height: 22px;
  word-wrap: break-word;
  word-break: break-all;
  padding-left: 35%;
}

@media only screen and (max-width: 1024px) {
  .inner {
    width: 100%; /* 가로 사이즈가 1200px 넘는 해상도에서는 max-width 설정 */
    height: 100%; /* align-items 등으로 수직 가운데 정렬을 위해, 알맞은 height 설정이 필요함 */
    margin: 0 auto; /* 가운데 정렬: 동일 요소에 width 가 설정되어 있을 때에만 적용 */
    padding: 0.5rem 2rem; /* 좌우 padding 을 살짝 주어서, 좌우에 딱 붙지 않도록 함 */
    overflow: hidden;
  }

  .codishop_img {
    width: 350px;
  }

  .codishop_img:not(:first-child) {
    display: none; /* 첫 번째 이미지 이후의 이미지를 숨깁니다. */
  }

  .divider {
    display: none;
  }

  .gallery {
    max-width: 180px;
  }
  
  .favorite_save {
    font-size: 12px;
    padding: 10px 50px;
    position: absolute;
    bottom: -2px; /* 이미지의 하단에서 10px 위치 */
    left: -45px; /* 이미지의 왼쪽에서 10px 위치 */
    z-index: 1; /* 아이콘이 이미지 위에 올라가도록 설정합니다. */
  }

  .findid-boxtitle strong {
    width: 96px;
  }

  .btnSubmit {
    width: 100%;
  }

  .term {
    margin: 0;
  }

  .txtInfo {
    padding: 0;
  }

  .lostInput {
    width: auto;
  }

  .btnSubmit-result {
    width: 130px;
  }
}