<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <title>MOJJI</title>
  <meta name="description" content="옷장 속의 의상들로 쉽고 스타일리시한 코디를 제안해주는 AI 패션 어플" />
  <meta name="keywords" content="옷, 패션, 코디, 코디추천, AI, 어플" />
  <meta name="author" content="Kyungrin" />

  <!-- 일반적인 fabicon 설정 -->
  <link rel="icon" href="https://mojji-bucket.s3.ap-northeast-2.amazonaws.com/main/static/img/commond_icon/free-icon-fashion-6122943.png"/>
  <!-- 아이폰용 fabicon 설정 -->
  <link rel="apple-touch-icon" href="https://mojji-bucket.s3.ap-northeast-2.amazonaws.com/main/static/img/commond_icon/free-icon-fashion-6122943.png"/>
  <!-- 인터넷 익스플러오용 fabicon 설정-->
  <link rel="short icon" type="image/x-icon" href="https://mojji-bucket.s3.ap-northeast-2.amazonaws.com/main/static/img/commond_icon/free-icon-fashion-6122943.png" />

  <!-- CSS Reset(1), 아이콘 폰트, 웹페이지 사용폰트, style.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
  <!-- https://fontawesome.com/start -->
  <script src="https://kit.fontawesome.com/5816102a91.js" crossorigin="anonymous"></script>
  <!-- Spoca Han Sans Neo: https://spoqa.github.io/spoqa-han-sans/ko-KR/ -->
  <link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('main_bp.static', filename='css/style_commond.css') }}">
  <link rel="stylesheet" href="{{ url_for('main_bp.static', filename='css/style_main.css') }}">
  <!-- Swiper.css -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
{% extends "navbar.html"%}

{% block content %}
  <section>
    <div class="inner">
      <div class="jb-division-line"></div>
      <div class="css-1ywg9ut">
        <div class="today">
          <em>TODAY</em>
          <span class="bar"></span>
          <em>CURATION</em>
        </div>
      </div>
      <div class="codi-container">
        <div class="arrow-container">
          <i class="fa-solid fa-chevron-left slide-prev"></i>
        </div>
        <div class="swiper-container codi-top">
          <div class="swiper-wrapper">
            {% set man_images = image_man %}
            {% set woman_images = image_woman %}

            {% for i in range(image_man|length) %}
            <div class="swiper-slide slide">
              <img src="{{ image_man[i] }}" alt="Man Image {{ i+1 }}" class="codi-image">
            </div>
            <div class="swiper-slide slide">
              <img src="{{ image_woman[i] }}" alt="Woman Image {{ i+1 }}" class="codi-image">
            </div>
          {% endfor %}          
          </div>
        </div>
        <div class="arrow-container">
          <i class="fa-solid fa-chevron-right slide-next"></i>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="inner">
      <div class="note-container">
        <div class="note-title">
          <h1>옷 사진 등록</h1>
          <p>상/하의가 명확히 구분될 수 있도록 구겨지지 않은 형태로 촬영 해주시기 바랍니다.</p>
        </div>
        <ul class="class-list">
          <li class="class-card">
            <img src="https://mojji-bucket.s3.ap-northeast-2.amazonaws.com/main/static/img/commond_icon/3901716_17108143338544_500-removebg-preview.png" alt="최신코디" class="codi-image">
            <div class="class-desc">
              <div class="class-title">주름을 펴주세요.</div>
            </div>
          </li>
          <li class="class-card">
            <img src="https://mojji-bucket.s3.ap-northeast-2.amazonaws.com/main/static/img/commond_icon/3291307_16837860271508_500-removebg-preview.png" alt="최신코디" class="codi-image">
            <div class="class-desc">
              <div class="class-title">옷이 짤리지 않게 촬영해주세요.</div>
            </div>
          </li>
          <li class="class-card">
            <img src="https://mojji-bucket.s3.ap-northeast-2.amazonaws.com/main/static/img/commond_icon/3964059_17119611047054_500-removebg-preview.png" alt="최신코디" class="codi-image">
            <div class="class-desc">
              <div class="class-title">지퍼/단추는 채워서 촬영해주세요.</div>
            </div>
          </li>
        </ul>
        <div class="upload-container">
          <form method="POST" enctype="multipart/form-data" action="{{ url_for('main_bp.loading') }}">
            <input type="file" id="fileInput" name="photo" accept="image/*" style="display:none;">
            <button type="button" class="upload-button button1" onclick="document.getElementById('fileInput').click();">사진 등록</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- 캐러셀(Carousel) Swiper 라이브러리 이용 -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="{{ url_for('main_bp.static', filename='js/main.js') }}"></script>
{% endblock %}
</body>
</html>